version: '3.0'

services:
  service-discovery:
    build:
      context: ./service-discovery
    container_name: service-discovery
    ports:
      - "8761:8761"
    environment:
      - SERVER_PORT=8761
    networks:
      - app-network

  auth-service:
    build:
      context: ./auth-service
    container_name: auth-service
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-discovery:8761/eureka/
      - SPRING_RABBITMQ_HOST=rabbitmq
    depends_on:
      - service-discovery
      - rabbitmq
    networks:
      - app-network

  laundry-service:
    build:
      context: ./laundry-service
    container_name: laundry-service
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-discovery:8761/eureka/
    depends_on:
      - service-discovery
    networks:
      - app-network

  gateway-service:
    build:
      context: ./gateway-service
    container_name: gateway-service
    ports:
      - "8080:8080"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-discovery:8761/eureka/
      - JWT_SECRET=UmaSenhaLongaParaGerarHash
    depends_on:
      - service-discovery
      - auth-service
      - laundry-service
    networks:
      - app-network

  rabbitmq:
    image: "rabbitmq:4.1.4-management"
    container_name: rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge